<div class="c5">
    <mat-card >
      <div class="c6">
        <br>
        <br>
        
          <mat-card-header>
              <mat-card-title class="c3"><strong>Question No. 1</strong></mat-card-title>
              <mat-card-subtitle class="c2">Section A</mat-card-subtitle>
              
            </mat-card-header>
            
          
          
            <mat-card-content class="c2">
              <p>
                INTERPOLATION -> The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
             
            </mat-card-content>
    

      </div>
      <div class="c7">
        <br>
        <br>

          <mat-card-actions class="c2">
              <mat-radio-group aria-label="Select an option">
              <mat-radio-button class="c2" value="a">interpolation</mat-radio-button><br>
              <mat-radio-button value="b">interpolation</mat-radio-button><br>
              <mat-radio-button value="c">interpolation</mat-radio-button><br>
              <mat-radio-button value="d">interpolation</mat-radio-button><br>
            </mat-radio-group>
            <button mat-raised-button color="primary">Save & Next</button>
      </mat-card-actions>

      </div>
        

        
      </mat-card>
</div>
