.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
 
  .c2
  {
      padding-left: 15px;
  }
  .c3
  {
      color:blue;
  }
  .c5
  {
      height:50%;
      width:100%;
      padding-top: 0px;
      
  }
  .c6
  {
      width: 50%;
      padding-left: 15px;
      float: left;
  }
  .c7
  {
    width: 50%;
    padding-left: 15px;
    float: right;

  }