
    <mat-card class="c5">
      <div class="c6">
        <br>
        <br>
        
          <mat-card-header>
              <mat-card-title class="c3"><strong>Question</strong></mat-card-title>
              <mat-card-subtitle class="c2">Section A</mat-card-subtitle>
              
            </mat-card-header>
            
          
          
            <mat-card-content class="c2">
              <p>
                {{Question.question}}
              </p>
             
            </mat-card-content>
    

      </div>
      <div class="c7">
        <br>
        <br>

          <mat-card-actions class="c2">
              <mat-radio-group aria-label="Select an option">
              <mat-radio-button class="c2" value="a">{{Question.optiona}}</mat-radio-button><br>
              <mat-radio-button value="b">{{Question.optionb}}</mat-radio-button><br>
              <mat-radio-button value="c">{{Question.optionc}}</mat-radio-button><br>
              <mat-radio-button value="d">{{Question.optiond}}</mat-radio-button><br>
            </mat-radio-group>
            <button mat-raised-button color="primary">Save & Next</button>
      </mat-card-actions>

      </div>
        

        
      </mat-card>
      <mat-divider></mat-divider>

