
<div >
  <div class="c3">
    <div class="c1">
        <mat-form-field>
            <mat-label>Test Name</mat-label>
            <input [(ngModel)]="testformdata.testname" name="testname" matInput placeholder="Enter Test Name">
          </mat-form-field>
        
          <mat-form-field>
              <mat-label>Test Passkey</mat-label>
              <input [(ngModel)]="testformdata.passkey" name="passkey" matInput class="c1" placeholder="Enter Test Passkey">
          </mat-form-field>

    </div>
    <div class="c2">
        <mat-form-field>
            <mat-label>No. of Question</mat-label>
            <input [(ngModel)]="testformdata.no_of_ques" name="no_of_ques" matInput placeholder="Enter No. of Ques">
        </mat-form-field>
      
        <mat-form-field>
            <mat-label>Time Duration</mat-label>
          <mat-select [(ngModel)]="testformdata.duration" name="duration" placeholder="Select">
            <mat-option value="select">Select</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            
            
          </mat-select>

    
  
  </mat-form-field>
  
</div>
</div>

<button (click)="testformsubmit()" class="c10" mat-raised-button color="primary">Save</button>
</div>