<app-nav></app-nav>
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="open" >
            <button routerLink="/teacherfull"  mat-raised-button  color="primary">Create Test</button><br><br>
          <button routerLink="/report" mat-raised-button color="primary">View Status</button>

        </mat-sidenav>
        <mat-sidenav-content>
        <button (click)="open=!open" mat-fab  color="primary" >click-me</button>

        
        </mat-sidenav-content>
      </mat-sidenav-container>
